#MainContainer{
    width: 100vw;
    height : 100vh;
    display: flex;
    flex-direction: row;
}

#FormContainer{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ImgContainer{
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Details{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    margin-bottom: 50vh;
    z-index: +2;
}
#LocationDate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Location{
    font-size: 40px;
    margin-bottom: 5px;
}
#Date{
    margin-top: 2vh;
}
#Temp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

#ImgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

#Logo{
    font-size: 25px;
    width: 100%;
    margin-left: 4vw;
    margin-top: 4vh;
}

#Welcome{
    margin-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Welcome h1{
    margin-bottom: 0;
    font-weight: bold;
}

#Welcome h5{
    font-size: 14px;
}

#Form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5vh;
    justify-content: space-evenly;
}

input{
    border-radius: 5px;
    height: 3.5vh;
    border : 1px solid rgb(219, 219, 219);
    margin-top: 1vh;
    padding: 7px;
}

#SubmitBtn{
    border-radius: 5px;
    border: 0px;
}

#SignUp{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

#SignUp a{
    color : var(--2Color); 
    text-decoration: underline;
    cursor: pointer;
}

.inputError{
    color: red;
    font-size: 11px;
}

.required{
    color : red;
    vertical-align: top;
}

#Continue{
    color: var(--1Color);
    text-decoration: underline;
    cursor: pointer;
}

